[Unit]
Description=Hiawatha web server
After=network.target
Documentation=man:hiawatha(1)

[Service]
Type=forking
PIDFile=/run/hiawatha.pid
ExecStartPre=/usr/sbin/wigwam -q
ExecStart=/usr/sbin/hiawatha
ExecReload=/bin/sh -c '/usr/sbin/wigwam -q && /bin/kill -HUP $MAINPID'
KillMode=mixed
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
