#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DCMAKE_INSTALL_SYSCONFDIR=/etc \
		-DENABLE_TLS=ON \
		-DENABLE_XSLT=ON \
		-DWEBROOT_DIR=/var/www/hiawatha \
		-DWORK_DIR=/var/lib/hiawatha \
		-DLOG_DIR=/var/log/hiawatha

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/hiawatha/usr/lib/$(DEB_HOST_MULTIARCH)/hiawatha
